<div class="jumbotron" ng-app="LibraryApp" ng-controller="mainController">

    <p>Search below for a book. You can search by book title, author name or genre!</p>
    <input ng-model=""/>
    <button ng-click="">Search</button>
    <h3>All Books in this library:</h3>
    <div ng-repeat="book in books track by $index">
        {{book.BookName}} is a {{book.GenreName}} book written by {{book.AuthorName}}
    </div>
</div>
